@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: 'Druk';
  src: url('/fonts/FontsFree-Net-Druk-Wide-Bold.ttf') format('truetype');
  /* Add additional font formats if necessary (e.g., woff2, eot, svg) */
  font-weight: 400; /* Font weight (optional) */
  font-style: normal; /* Font style (optional) */
}
